<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top shadow">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/home']" st>
            <img class="logo" src="../../../assets/img/Obelisco_vetor.svg" alt="image" >
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="border-right: solid white;">
                
            </ul>
            <ul class="navbar-nav my-2 my-lg-0 text-center">
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['/home']">Home</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['/evento']">Eventos</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['/cadastro']">Cadastro</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="pt-5 mb-5">
    <ng-content #home></ng-content>
</div>