.logo {
    max-width: 100px;
}

li {
    a {
        padding: 2px;
    }

    &.active,
    &:hover {
        border-bottom: green solid 0.5px;
    }
    
    margin-left: 10px;
}

nav {
    height: 60px;
    max-height: 60px;
    min-height: 60px;
}