li {
    a {
        padding: 2px;
    }
    &.active,
    &:hover {
        border-bottom: green solid 0.5px;
    }
    margin-left: 10px;
}
#teste{
    background-color: transparent;
    //background-color: adjust-color($color: #000000, $red: 1, $green: 2, $blue: 3, $hue: 0, $saturation: 0%, $lightness: 0%, $alpha: 1.0);

}