.formulario
{
	border: 2px solid rgb(129, 124, 124);
	box-shadow: 5px 5px 5px rgba(1,1,10,1);
	text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	font-family:Arial, Helvetica, sans-serif;
	border-style: double;
    width: 35%;
    height: 40%;
    background-color: aliceblue;
}
#nome_kid
{
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: relative;
}
.formulario h2
{
    text-align: center;
}
#bbb
{
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: relative;
}
#documento_kid
{
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: relative;
}
.formulario p
{
    text-align: center;
}