$ribbon-height: 70px;
$sidebar-width: 214px;
$spacing-base: 20px;
$font-size: 14;
$line-height: 1.53;
$font-family: 'Quicksand',
sans-serif;

// COLORS SCHEME
$base-bg: #ededed;
$base-bg-dark: #323C44;
$base-white-1: #bacbd8;
$base-white-2: #778B9E;
$support-color: #FF80AB;
$accent-color: #68D0D1;
$white: #FFF;
$grey-dark:#545454;
$grey-medium:#8f8f8f;
$grey: #ACABAB;
$grey-light-shadow: #DDDDDD;
$grey-light: #F0F3F4;

$yellow: #C1A82B;
$green: #5BA357;
$blue: #5697A5;
$red: #F28580;