<!-- Masthead -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Obelisco JR</h1>
                <hr class="divider my-4">
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">Empresa júnior do Instituo Federal</p>
            </div>
        </div>
    </div>
</header>

<!-- Objetivo Section -->
<section class="page-section bg-primary" id="objetivo">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Objetivo</h2>
                <hr class="divider light my-4">
                <p class="text-white-50 mb-4">
                    Desenvolver projetos comerciais de software ou sistemas integrados em TI
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Missao Section -->
<section class="page-section" id="missao">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-center mt-0">Missão</h2>
                <hr class="divider my-4">
                <p class="text-muted-50 mb-4">
                    Usar a capacidade intelectual dos alunos do IFSP desenvolvendo projetos e o indivíduo.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Servicos Section -->
<section class="page-section bg-light" id="servicos">
    <div class="container">
        <h2 class="text-center mt-0">Valores</h2>
        <hr class="divider my-4">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-user-circle text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Valor 1</h3>
                    <p class="text-muted mb-0">Texto</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Valor 2</h3>
                    <p class="text-muted mb-0">Texto</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-globe text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Valor 2</h3>
                    <p class="text-muted mb-0">Texto</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-heart text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Valor 2</h3>
                    <p class="text-muted mb-0">Texto</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contato Section -->
<section class="page-section" id="contato">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Entre em contato!</h2>
                <hr class="divider my-4">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mr-auto mb-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3676.6801656365255!2d-47.129279684497064!3d-22.851319585040166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8c75cb9fc15b1%3A0x28f6c52a0bde5160!2sCTI%20Renato%20Archer!5e0!3m2!1spt-BR!2sbr!4v1570313421036!5m2!1spt-BR!2sbr" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-6 ml-auto text-center mb-5 mb-5 mb-lg-0">
                <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                <div>(19) 3746-6128</div>
            </div>
            <div class="col-6 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                <a class="d-block" href="mailto:ifsp@campinas.com">ifsp@campinas.com</a>
            </div>
        </div>
    </div>
</section>