@import 'styles/variables';

* {
    font-family: $font-family;
}

html,
body {
    background-color: $base-bg;
}

body {
    padding-top: 0px;
}

.logo {
    max-width: 100px;
}

.logo-ifsp {
    max-width: 25px;
}

.required>label:after {
    content: " *";
    color: red;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.elementor-divider-separator {
    border-top: 4px solid #ffffff;
    width: 12%;

    &.e-white {
        border-color: #ffffff !important;
    }

    &.e-muted {
        border-color: #6c757d !important;
    }

    &.e-green {
        border-color: green !important;
    }
}