<section class="shadow p-5">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()" name="testando" class="container">
        <h4 class="text-primary mb-4">Dados Pessoais</h4>
        <div class="row">
            <div class="form-group col-9">
                <label for="nome">Nome</label>
                <input type="text" name="nome" formControlName="nome" class="form-control">
                <span class="text-danger" *ngIf="formControls.nome.touched && formControls.nome.hasError('required')">
                    Campo obrigatório
                </span>
            </div>
            <div class="form-group col-3">
                <label for="idade">Idade</label>
                <input type="text" name="idade" formControlName="idade" class="form-control">
                <span class="text-danger" *ngIf="formControls.idade.touched && formControls.idade.hasError('required')">
                    Campo obrigatório
                </span>
            </div>
            <div class="form-group col-6">
                <label for="curso">Curso</label>
                <input type="text" name="curso" formControlName="curso" class="form-control">
                <span class="text-danger" *ngIf="formControls.curso.touched && formControls.curso.hasError('required')">
                    Campo obrigatório
                </span>
            </div>
            <div class="form-group col-3">
                <label for="email">Email</label>
                <input type="text" name="email" formControlName="email" class="form-control">
                <span class="text-danger" *ngIf="formControls.email.touched && formControls.email.hasError('required')">
                    Campo obrigatório
                </span>
                <span class="text-danger" *ngIf="formControls.email.touched && formControls.email.hasError('email')">
                    Campo obrigatório
                </span>
            </div>
            <div class="form-group col-3">
                <label for="telefone">Telefone</label>
                <input type="text" name="telefone" formControlName="telefone" mask="(00) 00000-0000" class="form-control">
                <span class="text-danger" *ngIf="formControls.telefone.touched && formControls.telefone.hasError('required')">
                    Campo obrigatório
                </span>
            </div>
        </div>

        <h4 class="text-primary mb-4 mt-4">Endereço</h4>
        <div class="row">
            <div class="form-group col-4">
                <label for="cep">Cep</label>
                <div class="input-group mb-3">
                    <input type="text" name="cep" formControlName="cep" mask="00000-000" class="form-control">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-secondary" (click)="onFoundCEP()">Achar</button>
                    </div>
                </div>
                <span class="text-danger" *ngIf="formControls.cep.touched && formControls.cep.hasError('required')">
                    Campo obrigatório
                </span>
            </div>
            <div class="form-group col-6">
                <label for="logradouro">Logradouro</label>
                <input type="text" name="logradouro" formControlName="logradouro" class="form-control">
            </div>
            <div class="form-group col-2">
                <label for="numero">Número</label>
                <input type="text" name="numero" formControlName="numero" class="form-control">
                <span class="text-danger" *ngIf="formControls.numero.touched && formControls.numero.hasError('required')">
                    Campo obrigatório
                </span>
            </div>
            <div class="form-group col-6">
                <label for="bairro">Bairro</label>
                <input type="text" name="bairro" formControlName="bairro" class="form-control">
            </div>
            <div class="form-group col-2">
                <label for="uf">UF</label>
                <input type="text" name="uf" formControlName="uf" class="form-control">
            </div>
            <div class="form-group col-4">
                <label for="localidade">Localidade</label>
                <input type="text" name="localidade" formControlName="localidade" class="form-control">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6">
                <button type="button" class="btn btn-link" [routerLink]="['/home']" routerLinkActive="router-link-active">Voltar</button>
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-primary float-right">Salvar</button>
            </div>
        </div>
    </form>
</section>